
  .sidebar {
    height:80%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    padding-top: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0.5, 0.9); /* Add a box shadow for a subtle effect */
    border-bottom-left-radius:50px;
}
  
  /* .sidebar ul {
    list-style-type: none;
    padding: 0;
  } */
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight:unset;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease; /* Add transition for a smooth hover effect */
  }
  
  .sidebar a:hover {
    background-color: #555;
  }