

.contentContainer {
  margin: 250px;
  margin-top: 200px;
  padding: 20px;
  transition: margin-left 0.3s ease;
 
}

/* Add a media query for responsiveness */
@media (max-width: 768px) {
  .contentContainer {
    margin-left: 0;
  }
}


.contentBox {
  height: 400px;
  border: 1px solid #ddd;
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}


.contentHeading {
  color: #333; 
  font-size: 24px; 
  margin-bottom: 15px; 
}


.contentText {
  color: #555; 
  font-size: 16px; 
}
